*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Inter",sans-serif;
}

body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;

    background:
    linear-gradient(135deg,#dbeafe,#eff6ff,#ffffff);

}

.wrapper{

    width:900px;

    display:grid;

    grid-template-columns:1fr 1fr;

    background:white;

    border-radius:28px;

    overflow:hidden;

    box-shadow:
    0 25px 60px rgba(0,0,0,.12);

}

.left-panel{

    padding:45px;

}

.left-panel h1{

    color:#1e293b;

    margin-bottom:15px;

}

.left-panel p{

    color:#64748b;

    line-height:1.7;

    margin-bottom:35px;

}

.input-box{

    margin-bottom:22px;

}

.input-box label{

    display:block;

    margin-bottom:8px;

    color:#334155;

    font-weight:600;

}

.input-box input{

    width:100%;

    padding:16px;

    border:2px solid #dbeafe;

    border-radius:14px;

    outline:none;

    font-size:16px;

    transition:.3s;

}

.input-box input:focus{

    border-color:#3b82f6;

    box-shadow:
    0 0 15px rgba(59,130,246,.25);

}

#calculate-btn{

    width:100%;

    padding:16px;

    border:none;

    border-radius:14px;

    cursor:pointer;

    font-size:17px;

    font-weight:600;

    color:white;

    background:
    linear-gradient(
        135deg,
        #2563eb,
        #0ea5e9
    );

    transition:.3s;

}

#calculate-btn:hover{

    transform:
    translateY(-4px);

}

.right-panel{

    background:
    linear-gradient(
        135deg,
        #2563eb,
        #0ea5e9
    );

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:40px;

}

.result-circle{

    width:180px;

    height:180px;

    border-radius:50%;

    border:8px solid rgba(255,255,255,.25);

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:25px;

    transition:.4s;

}

.result-circle span{

    font-size:52px;

    font-weight:700;

}

#bmi-status{

    margin-bottom:15px;

}

#message{

    text-align:center;

    line-height:1.7;

    max-width:300px;

}

@media(max-width:850px){

    .wrapper{

        width:100%;

        grid-template-columns:1fr;

    }

}