*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b
    );
}

.container{
    width:400px;
    text-align:center;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:
    0 15px 35px rgba(0,0,0,.3);
}

h1{
    margin-bottom:25px;

    color:#1e293b;

    font-size:28px;
}

select{
    width:100%;

    padding:15px;

    font-size:18px;

    border:2px solid #3b82f6;

    border-radius:12px;

    outline:none;

    cursor:pointer;

    transition:.3s;
}

select:hover{
    transform:translateY(-2px);
}

select:focus{
    box-shadow:
    0 0 15px rgba(59,130,246,.4);
}